.btn{
  @include font(sbold);
  display: block;
  padding: rem(10px) rem(20px);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: $accentcolor;
  transition: all .3s;
  &:hover{
    transform: scale(.98);
  }
  &:active{
    transform: scale(.95);
  }
}

.title{
  @include font(bold);
  padding-bottom: rem(20px);
  margin-bottom: 0;
  font-size: rem(22px);
  color: $titlecolor;
}

.subtitle{
  @include font(reg);
  margin-bottom: 0;
  font-size: 16px;
  color: $textcolor;
}

.desc{
  @include font(reg);
  color: $desccolor;
  font-size: 18px;
  p{
    padding-bottom: rem(30px);
    &:last-child{
      padding-bottom: 0;
    }
  }
}