.footer {
  padding: rem(15px) 0;
  font-size: 16px;
  background: $footerbg;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  @include mobile {
    font-size: 15px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__item {
  min-width: rem(190px);
  padding-bottom: rem(20px);

  @include laptop {
    padding-bottom: rem(20px);
  }
}

.contacts__roll {
  display: flex;
  flex-direction: column;
}

.contacts__roll-item {
  padding-bottom: rem(5px);

  &:last-child {
    padding-bottom: 0;
  }
}

.contacts__title {
  margin-bottom: rem(10px);
  text-transform: uppercase;
  color: $footertitle;

  @include font(reg);
}

.contacts__link {
  color: $basiccolor;
  transition: all .3s;

  &:hover {
    color: $accentcolor;
  }

  @include font(medium);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include font(reg);
}

.copyright__text {
  margin-right: auto;
  color: $basiccolor;
}

.copyright__logo {
  display: block;
  width: rem(90px);
  margin-left: auto;
  transition: all .3s;

  &:hover {
    transform: rotate(10deg);
  }

  img {
    @extend %img;
  }
}
