.sidebar{
  width: 30%;
  padding: 0 rem(20px);
  @include tablet{
    position: absolute;
    top: 0;
    right: 30px;
    display: none;
  }
}

.sidebar__categories, .sidebar__widget, .sidebar__archieves{
  margin-bottom: rem(35px);
  &:last-child{
    margin-bottom: 0;
  }
}

.categories__item{
  @include font(reg);
  position: relative;
  z-index: 1;
  margin-bottom: rem(10px);
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 0;
    background: $accentcolor;
    content: "";
    transition: all .3s;
  }
  &:hover{
    &:after{
      height: 100%;
    }
    .categories__link{
      color: #ffffff;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.categories__link{
  position: relative;
  z-index: 2;
  display: block;
  color: $textcolor;
  transition: all .3s;
}

.widget{
  @include font(reg);
  margin-bottom: rem(20px);
  color: $textcolor;
  &:last-child{
    margin-bottom: 0;
  }
}

.archieves__item{
  @include font(reg);
  position: relative;
  margin-bottom: rem(10px);
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 0;
    background: $accentcolor;
    content: "";
    transition: all .3s;
  }
  &:hover{
    &:after{
      height: 100%;
    }
    .archieves__link{
      color: #ffffff;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.archieves__link{
  position: relative;
  z-index: 2;
  display: block;
  color: $textcolor;
  transition: all .3s;
}

.sidebar-btn{
  position: fixed;
  top: 50%;
  right: 0;
  background: $accentcolor;
}