.content{
  padding: rem(50px) 0;
  .container{
    position: relative;
    display: flex;
  }
}

.title-wrapper{
  margin-bottom: rem(25px);
  .title{
    margin-bottom: rem(5px);
    font-size: rem(30px);
  }
}

.author, .comments-value{
  color: $accentcolor;
  transition: all .3s;
  &:hover{
    color: $titlecolor;
  }
}

.article{
  width: 70%;
  @include tablet{
    width: 100%;
  }
}

.article__content{
  margin-bottom: rem(90px);
}

.article__img{
  width: 100%;
  margin-bottom: rem(20px);
  img{
    @extend %img;
  }
}

.form{
  margin-bottom: rem(20px);
  text-align: right;
  ::placeholder{
    font-size: rem(16px);
    color: #8c8c8c;
  }
}

.form__inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(15px);
}

.input, .textarea{
  display: block;
  padding: rem(15px);
  background: none;
  outline: none;
  font-size: rem(16px);
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  color: $desccolor;
}

.input{
  width: rem(315px);
  @include laptop{
    width: rem(240px);
  }
  @include tablet{
    width: rem(250px);
  }
  @include mobile{
    width: rem(190px);
  }
}

.textarea{
  width: 100%;
  min-height: rem(120px);
  margin-bottom: rem(15px);
}

.submit{
  display: inline-block;
  padding: rem(20px) rem(50px);
  font-size: rem(20px);
  border: none;
  outline: none;
  border-top: 2px solid #a0ff98;
  border-radius: 5px;
  color: #ffffff;
  background: $accentcolor;
  transition: all .3s;
  &:hover{
    transform: scale(.98);
  }
  &:active{
    transform: scale(.95);
    border-color: $accentcolor;
  }
}

//comments
.comments__item{
  display: flex;
  margin-bottom: rem(35px);
  &:last-child{
    padding-left: rem(20px);
    margin-bottom: 0;
  }
}

.comments__img{
  width: rem(60px);
  height: rem(60px);
  margin-right: rem(20px);
  background: #d2d5d7;
}

.comments__text{
  width: 90%;
}

.comments__name{
  font-size: rem(20px);
  color: $titlecolor;
}

.comments__footer{
  display: flex;
  font-size: rem(14px);
}

.comments__date{
  margin-right: rem(5px);
  color: #9d9d9d;
}

.comments__reply{
  color: $accentcolor;
  transition: all .3s;
  &:hover{
    color: $titlecolor;
  }
}




