.content{
  padding: rem(50px) 0;
  .container{
    display: flex;
  }
}

.title-wrapper{
  margin-bottom: rem(25px);
  .title{
    margin-bottom: rem(5px);
    font-size: rem(30px);
  }
}

.author, .comments-value{
  color: $accentcolor;
}

.article{
  width: 70%;
}

.article__img{
  width: 100%;
  margin-bottom: rem(20px);
  img{
    @extend %img;
  }
}





