//vars
$accentcolor: #2cc76a;
$textcolor: #767676;
$titlecolor: #22292e;
$desccolor: #656565;

//misc
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";
@import "_misc/fonts";

//elements
@import "elements/elements";

//sections
@import "elements/header";
@import "elements/footer";
@import "sections/content";
@import "elements/sidebar";
@import "elements/modal";

