$accentcolor: #2cc76a;
$textcolor: #767676;
$titlecolor: #22292e;
$desccolor: #656565;
$basiccolor: #ffffff;
$footerbg: #262e34;
$footertitle: #68737b;
$headerbg: #363f48;
$logincolor: #9ba4ae;
$placeholder: #8c8c8c;
$bordercolor: #a9a9a9;
$submitshadow: #a0ff98;
$imgreplace: #d2d5d7;
$datecolor: #9d9d9d;